.main {
  inline-size: var(--container-inline-size);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding-block-end: 105px;
}

.card {
  border: var(--border);
  background-color: #fff;
  inline-size: var(--container-inline-size);
}

.card__title {
  padding: 3px 24px 3px 10px;
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-font-height);
  font-variation-settings: "wght" 700;
}

.card__description {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__buttons {
  padding: 0 25px 25px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  inline-size: 38px;
  block-size: 36px;
  transition: 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.save__buttons {
  display: flex;
  align-items: center;
  padding: 18.5px 20px;
  gap: 12px;
  border: var(--border);
}

.save__icon {
  position: relative;
  mix-blend-mode: difference;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fff;
  color: #fff;
}

.dialog[open]::backdrop {
  background-color: #000;
  opacity: 0.75;
}

body:has(.dialog[open]) {
  overflow: hidden;
}

.dialog__head {
  display: flex;
  gap: 20px;
}

.dialog__button {
  inline-size: 100%;
  block-size: 38px;
}

.disket__text {
  display: block;
  font-family: var(--accent-font-fam);
  font-size: 14px;
  text-transform: uppercase;
}

/* фильтры для картинок */
.grayscale {
  filter: grayscale(0.7);
}

.invert {
  filter: invert(80%);
}

.saturate {
  filter: saturate(300%);
}


.hue-rotate {
  filter: hue-rotate(30deg);
}

.sepia {
  filter: sepia(1);
}

.blur {
  filter: blur(5px);
}

.hue-rotate-inv {
  filter: hue-rotate(-270deg) blur(3px);
}

@media (width <= 375px) {
  .label {
    right: 13px;
  }

  .save__buttons {
    flex-direction: column;
  }
}
