/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.sparks {
    opacity: 0;
  }
  
  .heart .core {
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
  }
  
  .heart .main-body {
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
  }
  
  .heart:hover .core {
    fill: var(--contour-fill);
    transition: fill 0.3s linear;
  }
  
  .heart:hover .main-body {
    fill: var(--contour-fill);
    transition: fill 0.3s linear 0.05s;
  }
  
  .heart:active .main-body {
    fill: var(--main-body-fill);
    transition: fill 0.3s linear 0.05s;
  }
  
  .heart:active .core {
    fill: var(--main-body-fill);
    transition: fill 0.3s linear;
  }
  
  .like-icon.is-liked .contour {
    fill: var(--main-body-fill);
    transition: fill 0.3s linear 0.06s;
  }
  
  .like-icon.is-liked .core {
    fill: var(--main-body-fill);
    transition: fill 0.3s linear;
  }

  .like-icon.is-liked .main-body {
    fill: var(--main-body-fill);
    transition: 0.3s linear 0.05s;
  }
  
  .card__icon-button:focus-visible {
    align-self: center;
    border: var(--border);
  }