/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes heart-scale {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.25);
  }
}

@keyframes sparks-set {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
  
}

.sparks {
    opacity: 0;
  }
  
  .heart .core {
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
  }
  
  .heart .main-body {
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
  }
  
  .heart:hover .core {
    fill: var(--contour-fill);
    transition: fill 0.3s linear;
  }
  
  .heart:hover .main-body {
    fill: var(--contour-fill);
    transition: fill 0.3s linear 0.05s;
  }
  
  .heart:active .main-body {
    fill: var(--main-body-fill);
    transition: fill 0.3s linear 0.05s;
  }
  
  .heart:active .core {
    fill: var(--main-body-fill);
    transition: fill 0.3s linear;
  }
  
  .like-icon.is-liked .sparks {
      animation: sparks-set 0.3s ease-in 0.3s;
  }

  .like-icon.is-liked .heart {
    transform-origin: center;
    animation: heart-scale 0.3s ease-in 0.1s;
  }

  .like-icon.is-liked .contour {
    fill: var(--main-body-fill);
    transition: fill 0.3s linear 0.06s;
  }

  .like-icon.is-liked .core {
    fill: var(--main-body-fill);
    transition: fill 0.3s linear;
  }

  .like-icon.is-liked .main-body {
    fill: var(--main-body-fill);
    transition: 0.3s linear 0.05s;
  }
  
  .card__icon-button:focus-visible {
    align-self: center;
    border: var(--border);
  }