/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-img);
  font-variation-settings: 'wght' var(--normal-var-set);
  font-family: var(--main-font-fam, sans-serif);
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-font-height);
  background-attachment: fixed;
}

img {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card__image {
  position: relative;
  border-top: var(--border);
  border-bottom: var(--border);
}


.label {
  font-family: var(--accent-font-fam);
  font-size: 14px;
  position: absolute;
  opacity: 0.5;
  text-shadow: 
  -1px 0 var(--label-text-shadow),
  0 1px var(--label-text-shadow),
  1px 0 var(--label-text-shadow),
  0 -1px var(--label-text-shadow);
  top: 25px;
  right: 25px;
  z-index: 2;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--label-text-shadow)) or (-webkit-text-stroke: 1px var(--label-text-shadow)) or
  (o-text-stroke: 1px var(--label-text-shadow)) or (moz-text-stroke: 1px var(--label-text-shadow)) or
  (ms-text-stroke: 1px var(--label-text-shadow)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-text-shadow);
    o-text-stroke: 1px var(--label-text-shadow);
    moz-text-stroke: 1px var(--label-text-shadow);
    ms-text-stroke: 1px var(--label-text-shadow);
    text-stroke: 1px var(--label-text-shadow);
  }
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.button {
  background-color: #fff;
  color: #fff;
  position: relative;
  font-family: var(--accent-font-fam);
  border: var(--border);
  font-size: 14px;
  line-height: 12.6px;
  align-self: center;
  justify-self: center;
  transition: 0.5s ease-in-out;
}

.button::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  content: "";
  transform: scaleX(1);
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 black;
}

@media (width <= 375px) {
  body {
  max-inline-size: 375px;
}
}
